/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.tmdb-plugin_widget {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.tmdb-plugin_title {
  font-weight: bold;
}
